<h2>Staff Sign in</h2>
<div id='welcome'>
<p> 
	This system compromises of 4 Users, there are the Administration, Staff, Manager and Management. The aim of this system is to management the staff leave application. The staff is able to create a leave application and submit it to the system for the approval of his/her Manager based on the applicants department. After the approval of the Manager, the application will be received by the Management to finalize the application. The staff can check the status of their application from time to time in the system. Click <b><%= link_to 'Manager', new_manager_session_path %></b> if you want to login as a Manager, click <b><%= link_to 'Management', new_management_session_path %></b> if you want to login as Management or click <b><%= link_to 'Administrator', new_admin_session_path %></b> if you want to login as an Admin. 
</p>
</div>
<div id='login'>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><input type='reset'/><%= f.submit "Sign in" %></div>
	<% end %>
</div>

