<h2>Welcome to Manager Panel</h2>
<p>Welcome, <%= current_manager.manager_name %>. Page is still under construction.</p>

<center>
<div>
	<table size='100%' id='managerTable'>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Department</th>
			<th>Date Of Submission</th>
			<th>Status</th>
		</tr>
		<% @leaveApplication.each do |l| %>
			<tr>
				<td><%= l.staff_id %></td>
				<td><%= l.staff_name %></td>
				<td><%= l.department_name %></td>
				<td><%= l.created_at.strftime('%d/%m/%Y') %></td>
				<td><%= l.status %></td>
			</tr>
		<% end %>
	</table>
</div>
</center>