<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>
<% form_tag do %>
	<%= hidden_field_tag 'start_date', params[:start_date],:value => Time.now.utc.strftime("%Y-%m-%d")%>
	<%= hidden_field_tag 'end_date', params[:end_date],:value => Time.now.utc.strftime("%Y-%m-%d")%>
	<%= hidden_field_tag 'reason', params[:reason]%>
<% end %>
<%= form_tag  do %>
<div class="form_text_box">
        Start Date:<%= text_field 'leave_application', 'start_date' %>
        End Date:<%= text_field 'leave_application', 'end_date' %>
      </div>
    <h1>Reason</h1>   
      <div class="form_text_box">
        <%= text_area 'leave_application', 'reason' %>
      </div>
 
 <%= submit_tag 'Submit',:id => "submit_btn",:confirm => 'Are you sure?',:alert=>"Your submission form will be processed!"%>
 <%end%>