<h1>Edit profile</h1>

<% form_tag view_profile do %>
  <%= render :partial => 'form' %>
<%end%>
<p><%=label_tag:Name%><br/>
	<%=text_field_tag:name%>
</p>
<p><%=label_tag:Staff ID%><br/>
	<%=text_field_tag:staff_id%>
</p>
<p><%=label_tag:Email%><br/>
	<%=text_field_tag:email%>
<p><%=label_tag:Staff_phone%><br/>
	<%=text_field_tag::staff_phone%>
<p><%=label_tag:Password%><br/>
	<%=text_field_tag:password%>
</p>
<%= submit_tag 'Submit' %>
<% end %>

