
<table border="1">
	<tr>
		<tr></tr>
		Name:<%= current_staff.staff_name %>
		<p>Staff ID:<%= %></p>
		<p>Email:<%= current_staff.email %></p>
		<p>Mobile no.:<%=  current_staff.staff_phone%></p>
		<p>Department: </p>
		<p>Leave balance :<%= current_staff.leave_balance %></p>
		<p><%= submit_tag 'Edit profile',:action =>'edit_profile' %></p>
		<p><%= submit_tag 'Edit password',:action =>'edit_password' %></p>
        <p><%= link_to 'Back',:back %></p>
		
	</tr>
	<tr>
	</tr>
	</table>





