<center>
<div id='staffApplication'>

<% @leaveApplication.each do |l| %>
	<table>
		<tr>
			<td><b>Reason of leave :</b></td>
			<td><%= l.reason%></td>
		</tr> 
		<tr>
			<td><b>Date of Start Leave :</b></td>
			<td><%= l.start_date.strftime('%d/%m/%Y') %></td>
		</tr>
		<tr>
			<td><b>Date of End Leave :</b></td>
			<td><%= l.end_date.strftime('%d/%m/%Y') %></td>
		</tr>
		<tr>
			<td><b>Application Status :</b></td>
			<td><%= l.status %></td>
		</tr>
		
		<tr>
			<td><b>Comments :</b></td>
			<td><%= l.comment%></td>
		</tr>
		</table>
		<p><%= button_to 'Edit',edit_application_staff_panel_path(l.id) %></p></space>
		<space><p><%= button_to 'Delete',destroy_application_staff_panel_path(l.id),confirm: 'Are you sure?',method: :delete %></p>	
		<p><%= button_to 'Submit',submit_application_staff_panel_path(l.id) %></p>	
		<%= link_to 'Back', index_path %>
	
<% end %>
</div>
</center>