<center>
<div id='staffApplication'>

<% @leaveApplication.each do |l| %>
	<table>
		<tr>
			<td><b>Reason of leave :</b></td>
			<td><%= l.reason%></td>
		</tr> 
		<tr>
			<td><b>Date of Start Leave :</b></td>
			<td><%= l.start_date %></td>
		</tr>
		<tr>
			<td><b>Date of End Leave :</b></td>
			<td><%= l.end_date %></td>
		</tr>
		<tr>
			<td><b>Application Status :</b></td>
			<td><%= l.status %></td>
		</tr>
		
		<tr>
			<td><b>Comments :</b></td>
			<td><%= l.comment%></td>
		</tr>
		</table>
		<p><%= submit_tag 'Edit',:action =>'_form' %></p></space>
		<space><p><%= submit_tag 'Delete',confirm: 'Are you sure?',method: :delete %></p>	
		<p><%= submit_tag 'Submit',:action =>'edit_password' %></p>	
		<%= link_to 'Back', index_path %>
	
<% end %>
</div>
</center>