<center>
<table>
<tr>
<th>Name: </th>
<td><%= @managers.manager_name %></td> 	
</tr>

<tr>
<th>ID: </th>
<td><%= @managers.id %></td>
</tr>

<tr>
<th>Role: </th>	
<td>Manager</td>
</tr>

<tr>
<th>Department: </th>
<td><%= @managers.department_id %></td>
</tr>

<tr>
<th>Phone no: </th>
<td><%= @managers.manager_phone %></td>
</tr>

<tr>
<th>E-mail: </th>
<td><%= @managers.email %></td>
</tr>
</table>
</center>
<br><br>
<%= link_to "Back" , admin_panel_index_path %> | 
<%= link_to "Delete", {:controller => :manager_panel, :action => 'destroy' , :id => @managers.id }, :method => :delete , :confirm => "Are you sure?" %>

