<center>
<table>

<tr>
<th>Name: </th>
<td><%= @managements.management_name %></td>
</tr>

<tr>
<th>ID: </th>
<td><%= @managements.id %></td>
</tr>

<tr>
<th>Role: </th>
<td>Management</td>
</tr>

<tr>
<th>Phone no: </th>
<td><%= @managements.management_phone %></td>
</tr>

<tr>
<th>E-mail: </th>
<td><%= @managements.email %></td>
</tr>

</table>
</center>
<br><br>
<%= link_to "Back" , admin_panel_index_path %>