<center>
<table>
<tr>
<th>Name: </th>
<td><%= @staffs.staff_name %></td>
</tr>

<tr>
<th>ID: </th>
<td><%= @staffs.id %></td>
</tr>

<tr>
<th>Role: </th>
<td>Employee</td>
</tr>

<tr>
<th>Department: </th>
<td><%= @staffs.department_id %></td>
</tr>

<tr>
<th>Phone no: </th>
<td><%= @staffs.staff_phone %></td>
</tr>

<tr>
<th>E-mail: </th>
<td><%= @staffs.email %></td>
</tr>

</table>
</center>
<br><br>
<%= link_to "Back" , admin_panel_index_path %> | 
<%= link_to "Delete", {:controller => :staff_panel, :action => 'destroy' , :id => @staffs.id }, :method => :delete , :confirm => "Are you sure?" %>