<h2>Welcome to Management Panel</h2>
<p>Welcome, <%= current_management.management_name %>. Page is still under construction.</p>

<center>
<div>
	<table size='100%' id='managerTable'>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Department</th>
			<th>Date Of Submission</th>
			<th>Status</th>
		</tr>
		<% @leaveApplication.each do |l| %>
		<% if l.status == 'Approved By Manager'%>
			<tr>
				<td><%= link_to l.id,showApplication_management_panel_path(l.id) %></td>
				<td><%= l.staff_name %></td>
				<td><%= l.department_name %></td>
				<td><%= l.created_at.strftime('%d/%m/%Y') %></td>
				<td><%= l.status %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
</div>
</center>