<center>
<div id='staffApplication'>

<% @leaveApplication.each do |l| %>
	<table>
		<tr>
			<td><b>Name :</b></td>
			<td><%= l.staff_name %></td>
		</tr>
		<tr>
			<td><b>Department :</b></td>
			<td><%= l.department_name %></td>
		</tr>
		<tr>
			<td><b>Date of Application Submission :</b></td>
			<td><%= l.updated_at.strftime('%d/%m/%Y') %></td>
		</tr>
		<tr>
			<td><b>Reason of Leave :</b></td>
			<td><%= l.reason %></td>
		</tr>
		<tr>
			<td><b>Date of Start Leave :</b></td>
			<td><%= l.start_date.strftime('%d/%m/%Y') %></td>
		</tr>
		<tr>
			<td><b>Date of End Leave :</b></td>
			<td><%= l.end_date.strftime('%d/%m/%Y') %></td>
		</tr>
		<tr>
			<td><b>Total days of leave :</b></td>
			<td><%= l.date_diff %></td>
		</tr>
		<tr>
			<td><b>Leave Balance :</b></td>
			<td><%= l.leave_balance %></td>
		</tr>
		<tr>
			<td><b>Application Status :</b></td>
			<td><%= l.status %></td>
		</tr>
		<tr>
			<td><b>Comments :</b></td>
			<td><%= l.comment %></td>
		</tr>
	</table>
	<div>
		<% if l.status == 'Approved By Manager'%>
			<%= form_for(@review, :url => {:controller => "management_panel", :action => "updateReview"}) do |f| %>
				<%= f.select :status, [['Approve','Approved'],['Reject','Rejected']] %>
	   		 	<%= f.submit "Update Review Status" %>
			<% end %>
		<% end %>
	</div>
<% end %>
</div>
</center>