<h2>Edit <%= resource_name.to_s.humanize %></h2>

<center>
<div id='staffApplication'>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><b><%= f.label :email %></b><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div>
        <b><%= f.label "Name" %></b><br/>
        <%= f.text_field :manager_name %>
    </div>

    <div>
        <b><%= f.label "Contact Number" %></b><br/>
        <%= f.text_field :manager_phone %>
    </div>

    <div><b><%= f.label :password %></b><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><b><%= f.label :password_confirmation %></b><br />
    <%= f.password_field :password_confirmation %></div>

    <div><b><%= f.label :current_password %></b><br />
    <%= f.password_field :current_password %></div>

    <div><%= f.submit "Update" %></div>
  <% end %>
</div>
<%= link_to "Back", :back %>
