<center>
<h2>Create Manager</h2>

<table>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <tr>
  <th><div><%= f.label :name %><br /></th>
  <td><%= f.text_field :manager_name %></div></td>
  </tr>
  
  <tr>
  <th><div><%= f.label :password %><br /></th>
  <td><%= f.password_field :password %></div></td>
  </tr>

  <tr>
  <th><div><%= f.label :password_confirmation %><br /></th>
  <td><%= f.password_field :password_confirmation %></div></td>
  </tr>

  <tr>
  <th><div><%= f.label :department %><br /></th>
  <td><%= f.text_field :department_id %></div></td>
  </tr>

  <tr>
  <th><div><%= f.label :phone %><br /></th>
  <td><%= f.text_field :manager_phone %></div></td>
  </tr>

  <tr>
  <th><div><%= f.label :email %><br /></th>
  <td><%= f.email_field :email, :autofocus => true %></div></td>
  </tr>

 
  <tr>
  <td colspan = 2 >
  <center>
  <div><%= f.submit "Sign up" %></div></td>
  <% end %>
  </center>
  </td> 
  </tr>
  
</table>

<br><br>
<%= link_to "Back", new_admin_panel_path %>

</center>

