<!DOCTYPE html>
<html>
<head>
  <title>ELS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='wrapper'>
			
				<div id='header'>
					<h1>Employee Leave System</h1>
						<% if staff_signed_in? %>
						<ul>
							<li>Home |</li>
							<li>Add Application |</li>
							<li>Application Archive |</li>
							<li>View Profile |</li>
							<li>Leave balance : <%= current_staff.leave_balance %> |</li>
							<li><%= link_to 'Logout', destroy_staff_session_path, method: :delete %></li>
						</ul>
						<% elsif admin_signed_in? %>
						<ul>
							<li>Home |</li>
							<li>Assign Application to Manager |</li>
							<li>Assign Application to Management |</li>
							<li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
						</ul>
						<% elsif manager_signed_in? %>
						<ul>
							<li>Home |</li>
							<li>Application Archive |</li>
							<li>Report |</li>
							<li>View Profile |</li>
							<li><%= link_to 'Logout', destroy_staff_session_path, method: :delete %></li>
						</ul>
						<% elsif management_signed_in? %>
						<ul>
							<li>Home |</li>
							<li>Application Archive |</li>
							<li>Report |</li>
							<li>View Profile |</li>
							<li><%= link_to 'Logout', destroy_staff_session_path, method: :delete %></li>
						</ul>
					<% end %>
					<div class='clearfix'></div>
				</div>
			
			<div id='content'>
				<p>
					<%= yield %>
				</p>
			</div>
			<div id='footer'>
				<p>
					&copy Company 2013
				</p>
			</div>
		</div>
	</body>
</html>